:root {
  --list-back: #2b7a78;
  --favorites-back: #def2f1;
  --details-back: #feffff;
  --details-box-back: #def2f1;
  --header-back: #17252A;
  --button-back: #ffffff;
  --border-color: #c2dde6;
  --list-box-back: #feffff;
  /* --card-color: #ACD3B3; */
  --card-color: white;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  color: white;
  font-weight: bold;
  text-align: center;
}
.banner div h1 {
  font-size: 2rem;
  text-shadow: 2px 2px black;
}
.banner div h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px black;
}

.banner div {
  display: inline-block;
  margin-top: 200px;
}

button {
  margin: 0 0.5rem;
  background: var(--button-back);
  border: 0;
  color: #595959;
  padding: 10px;
  /* border-radius:5px; */
  font-size: 1em;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  /* grid-auto-flow: column; */

  align-items: center;
  grid-gap: 5px;
  background: var(--favorites-back);
  color: var(--header-back);
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

img.favoriteItem {
  /* border-radius: 10px; */
}

div {
  /* border-radius: 10px; */
  gap: 10px;
}

button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 10px;
}